{
  "parserOptions": {
    "ecmaVersion": 2023,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "settings": {
    "react": {
      "version": "detect"
    }
  },
  "plugins": ["react-hooks", "react", "prettier"],
  "extends": [
    "plugin:react/recommended",
    "plugin:prettier/recommended",
    "prettier"
  ],
  "rules": {
    "react/no-unescaped-entities": "off",
    "react/display-name": "off",
    "react/prop-types": "off",
    "prefer-const": "error",
    "no-var": "error",
    "prefer-rest-params": "error",
    "prefer-spread": "error",
    "no-unused-vars": "error",
    "prettier/prettier": [
      "error",
      {
        "semi": true,
        "trailingComma": "all",
        "singleQuote": true,
        "printWidth": 120,
        "tabWidth": 2
      }
    ] // Ensure ESLint respects Prettier's singleQuote rule
  }
}
